# ignore everything and use ! to allow tracking
*
# ignore-list files, at top level and under any tracked directories
!.gitignore

# bash
!/.bash_login
!/.bashrc

# pam_env
!/.pam_environment
!/.bin/
!/.config/
!/.data/

# ssh
!/.ssh/

# my scripts
!boot-params/

# other apps
!autostart/
!Code/
!Dharkael/
!electron-netease-cloud-music/
!fcitx5/
!fontconfig/
!fish/
!git/
!gtk-3.0/
!gtk-4.0/
!Kvantum/
!nano/
!neofetch/
!pacman/
!powerline/
!python/
!tmux/
