# ignore everything and use ! to allow tracking
*

# ignore-list files, at top level and under any tracked directories
!.gitignore

# top level dirs
!/.bin/
!/.config/
!/.local/
!/.ssh/

# pam_env user config
!/.pam_environment
