# ignore everything and use ! to allow tracking
*
# ignore-list files, at top level and under any tracked directories
!.gitignore

# pam_env
!/.pam_environment
!/.bin/
!/.config/
!/.data/

# other apps
!autostart/
!Code/
!Dharkael/
!electron-netease-cloud-music/
!fcitx5/
!fontconfig/
!fish/
!gtk-3.0/
!gtk-4.0/
!neofetch/
