# my scripts
!boot-params/
!package-list/

# other apps
!btop/
!Code/
!electron-netease-cloud-music/
!fcitx5/
!fontconfig/
!fish/
!git/
!gtk-3.0/
!gtk-4.0/
!helix/
!Kvantum/
!locale.conf
!locale.gen
!nano/
!neofetch/
!npm/
!pacman/
!pacman.conf
!powerline/
!python/
!ssh/
!starship.toml
!sysctl.d/
!tmux/
!wget/
!zellij/
