# my scripts
!boot-params/
!package-list/

# other apps
!autostart/
!Code/
!Dharkael/
!electron-netease-cloud-music/
!fcitx5/
!fontconfig/
!fish/
!git/
!gtk-3.0/
!gtk-4.0/
!Kvantum/
!nano/
!neofetch/
!npm/
!pacman/
!powerline/
!python/
!tmux/
