[Desktop Entry]
Type=Application
Name=Steam
Comment=Video game digital distribution service by Valve.
Exec=steam -silent
Icon=steam
Terminal=false
Categories=Game
Keywords=valve;steam;game
